<div *ngIf="account!=undefined" class="flex justify-center">
    <div class="bg-gray-400 rounded min-w-[50%] p-4 mt-10">
        <h1 class="text-center mb-5">My Account</h1>
        <div class="flex flex-row w-full justify-between">
            <label for="username" class=""><i class="fas fa-user"></i> Username</label>
            <p class="form-control-plaintext" id="username">{{account.username}}</p>
        </div>
        <div class="flex flex-row w-full justify-between">
            <label for="first-name" class=""><i class="fas fa-user"></i> First Name</label>
            <p class="form-control-plaintext" id="first-name">{{account.firstName}}</p>
        </div>
        <div class="flex flex-row w-full justify-between">
            <label for="last-name" class=""><i class="fas fa-user"></i> Last Name</label>
            <p class="form-control-plaintext" id="last-name">{{account.lastName}}</p>
        </div>
        <div class="flex flex-row w-full justify-between">
            <label for="email" class=""><i class="fas fa-envelope"></i> Email</label>
            <p class="form-control-plaintext" id="email">{{account.email}}</p>
        </div>
        <div class="flex flex-row w-full justify-between">
            <label for="phone" class=""><i class="fas fa-phone"></i> Phone</label>
            <p class="form-control-plaintext" id="phone">{{account.phoneNumber}}</p>
        </div>
        <div class="flex flex-row w-full justify-end mt-4">
            <button type="button" class="bg-red-500 rounded py-2 px-4" id="logout-btn" (click)="logout()"><i
                    class="fas fa-sign-out-alt"></i>
                Logout</button>
        </div>
    </div>
</div>