.container {
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.login {
    margin: auto;
    top: 10%;
    width: 70%;
    padding: 1.5em;
}

.login-page {
    height: 100%;
    padding: 120px 0;
    background: radial-gradient(#fff, #4054b4);
}

.bold {
    font-weight: bold;
    text-decoration: underline;
}

mat-form-field {
    width: 100%;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

input.hide-password::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input.hide-password:focus::-webkit-input-placeholder {
    opacity: 1;
}

input.hide-password::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input.hide-password:focus::-moz-placeholder {
    opacity: 1;
}

input.hide-password:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input.hide-password:focus:-ms-input-placeholder {
    opacity: 1;
}

input.hide-password::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input.hide-password:focus::placeholder {
    opacity: 1;
}

input.hide-password {
    -webkit-text-security: disc;
    -moz-text-security: disc;
    -ms-text-security: disc;
}